/**
 * responsive viewport
 */

@viewport
  width: device-width

/**
 * html and body
 */

html
  // reset box model
  box-sizing: border-box
  // set transparent tap highlight for iOS
  -webkit-tap-highlight-color: rgba(0,0,0,0)


/**
 * inherit box model
 */

*,
*::before,
*::after
  box-sizing: inherit
